html{
    background-image: url(../images/Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 600px;
    font-family: sans-serif;
    position: relative;
}

#header{
    max-height: 350px;
    float: center;
    margin: 5 10%;
    width: 100%;
}

#header h1 {
    font-size: 140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 150px;
    margin: 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 10px 0 black, 0 -1px black;
    font-variant: small-caps;
    font-size:13vw; /*Use this when text needs to shrink when the website 
    is displayed on a smaller screen i.e cell phones*/
}

.container {
    margin: 3% 25%;
    width: 50%;
    
}

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: transparent;
    font-size: 40px;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    background: transparent;
    padding: 5%;
    
}

.btn a:link {
    color: 	white;
    text-shadow: -1px 0 black, 0 1px black, 3.5px 0 black, 0 -1px black;
    text-decoration: none;
    background-color: none;
}

.btn a:active {
    color: 	white;
    text-shadow: -1px 0 black, 0 1px black, 3.5px 0 black, 0 -1px black;
    text-decoration: none;
}

.btn a:visited {
    color: white;
    text-decoration: none;
}

.btn a:hover {
    color: #483D8B;
    text-decoration: none;
}