html{
    background-image: url(../images/japan3.jpg);
    background-repeat: no-repeat;
    background-size: 1495px 650px;
}

body {
    height: 600px;
    font-family: sans-serif;
    position: relative;
}

#header{
    max-height:300px;
    background-position: center;
    margin: 10px;
}

#header h1 {
    font-size: 140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 150px;
    margin: 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 10px 0 black, 0 -1px black;
    font-variant: small-caps;
    font-size:13vw; /*Use this when text needs to shrink when the website 
    is displayed on a smaller screen i.e cell phones*/
}

.container {
    max-width: 100;
    text-align: center;
    float: center;
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 10px;
    position: relative;
}

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 15px;
    margin: 20px;
    font-size: 30px;
    border-radius: 35px;
    background-color: #E6E6FA;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 black;
}

.btn a:link {
    color: 	#483D8B;
    text-decoration: none;
    background-color: none;
}

.btn a:active {
    color: 	#483D8B;
    background-color: #E6E6FA;
    text-decoration: none;
}

.btn a:visited {
    color: rgb(0,139,139);
    background-color: #E6E6FA;
    text-decoration: none;
}

.btn a:hover {
    color: #483D8B;
    background-color: #E6E6FA;
    text-decoration: none;
}